<md-toolbar class="main-toolbar mat-elevation-z2">
  {{title}}
</md-toolbar>

<md-sidenav-container>
  <md-sidenav class="sidenav" align="start" mode="side" opened="true" msIconSidenav>
    <nav>
      <h3>Teams</h3>
      <ul>
        <li>Roster</li>
        <li>Recent Matches</li>
        <li>Something</li>
      </ul>
    </nav>
    <nav>
      <h3>Players</h3>
      <ul>
        <li>Recent Matches</li>
        <li>Something</li>
        <li>Something Else</li>
      </ul>
    </nav>
  </md-sidenav>

  Is this my content?


</md-sidenav-container>
